body {
    background: linear-gradient(gray, lightgray );
    background-image: url('design21.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
    color: white;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    
}

img {
   /* border-radius: 50%;*/
    filter: saturate(0%) contrast(200%) opacity(40%) invert();
    

    
}



.container {
    display: grid;
    grid-template-areas: 
    "a b c"
    "d e f"
    "g h i"
    "j k l"
    "m n o";
    grid-template-columns: 1fr 1fr 1fr;
    transition: all 0.3s ease-in-out;
    gap: 0.9vw;
    
    max-height: 50vh;
    margin-left: 2%;
    margin-top: 3%;
    aspect-ratio: 1/1;
    
}

.inner-container {
    border-radius: 15px;
    background: linear-gradient(rgba(177, 177, 177, 0.158),rgba(0, 0, 0, 0.808));
    transition: all 0.3s ease-in-out; 
    aspect-ratio: 1/1;
    text-align: center;
    align-content: center;
    backdrop-filter: blur(10px);
    box-shadow: -4px 4px 20px black;
    position: relative;
    border: 0.7px solid rgb(0, 0, 0);
   

}
 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
 }

 a:hover {
    color: rgb(255, 255, 255);
 }

  .inner-container:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    border-radius: 100px;
    animation: rainbow 0.1s infinite;
    z-index: 2;
    color: rgb(0, 0, 0);
    filter: invert() opacity(100%);
    border: 2px solid rgb(0, 0, 0);
 }

 .inner-container:hover img {

    filter:opacity(100%);

 }


.a{grid-area: a;}
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}
.e{grid-area: e;}
.f{grid-area: f;}
.g{grid-area: g;}
.h{grid-area: h;}
.i{grid-area: i;}
.j{grid-area: j;}
.k{grid-area: k;}
.l{grid-area: l;}
.m{grid-area: m;}
.n{grid-area: n;}
.o{grid-area: o;}

@keyframes rainbow {
  0%   { background-color: rgba(255, 255, 255, 0.325); }
  100%   { background-color: rgba(255, 255, 255, 0.325);  }

}

.logos {
   display: block;
    object-fit: contain;
     
}

